In [2]:
import numpy as np
import pandas as pd

In [3]:
station_name = pd.read_csv('./data/seoulsi_station_name.csv', engine='python')

In [4]:
station_name

    전철역코드     전철역명      호선  외부코드
0    0159      동묘앞    01호선   127
1    0416    미아사거리    04호선   416
2    0423      충무로    04호선   423
3    1004      노량진    01호선   136
4    1010       한남     경의선  K113
..    ...      ...     ...   ...
745  4512  운동장.송담대   용인경전철  Y120
746  4513       고진   용인경전철  Y121
747  4514       보평   용인경전철  Y123
748  4515       둔전   용인경전철  Y125
749  4601       발곡  의정부경전철  U110

[750 rows x 4 columns]

In [5]:
gr = station_name.groupby('전철역명')
for i in gr.groups:
    if len(gr.groups[i]) > 1:
        print(i, len(gr.groups[i]))

가락시장 2
가산디지털단지 2
강남 2
강남구청 2
건대입구 2
검암 2
계양 2
고속터미널 3
고잔 2
공덕 4
광운대 2
교대 2
군자 2
금정 2
기흥 2
김포공항 4
까치산 2
노량진 2
노원 2
당산 2
대곡 2
대림 2
도곡 2
도봉산 2
동대문 2
동대문역사문화공원 3
동묘앞 2
동작 2
디지털미디어시티 3
마곡나루 2
망우 2
모란 2
미금 2
보문 2
복정 2
부평 2
부평구청 2
불광 2
사당 2
삼각지 2
상봉 3
서울역 4
석계 2
석남 2
석촌 2
선릉 2
선정릉 2
성신여대입구 2
소사 2
수서 2
수원 2
시청 2
신길 2
신길온천 2
신내 2
신당 2
신도림 2
신설동 3
신촌 2
안산 2
약수 2
양재 2
양평 2
여의도 2
연신내 2
영등포구청 2
오금 2
오이도 2
옥수 2
온수 2
올림픽공원 2
왕십리 4
용산 2
원인재 2
을지로3가 2
을지로4가 2
이매 2
이촌 2
인천 2
인천시청 2
잠실 2
정왕 2
정자 2
종로3가 3
종합운동장 2
주안 2
중랑 2
중앙 2
창동 2
천호 2
청구 2
청량리 4
초지 3
충무로 2
충정로 2
태릉입구 2
판교 2
한대앞 2
합정 2
홍대입구 3
회기 3
회룡 2
효창공원앞 2